<p id="notice"><%= notice %></p>

<div id="index-title">
  <h2>記事一覧</h2>
  <i class="fa fa-pencil-square-o"></i>
  <%= link_to '新規記事作成', new_article_path %>
</div>

<ul id="index-ul">
  <% @articles.each do |article| %>
    <li id="index-li">
      <%= link_to article.title, article %><br>
      <span class="created-time">
        <%= article.created_at %>
      </span>
    </li>
  <% end %>
</ul>
